# Node Dependencies
node_modules/
dist/
.eslintcache

# Python Environments & Cache
__pycache__/
*.pyc
.venv/
venv/
env/
chroma_db/
.pytest_cache/

# Sensitive Deployment Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store
Thumbs.db
